@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
.sidebar{
    height:100vh;
    position:fixed;
    background-color: whitesmoke;
    top:70px;
    left:0;
    bottom:0;
    width:60px;
    font-size:10px;
    z-index:40;
}
.sidebar-items{
    font-family: Roboto;
    height:80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor:pointer;
    position: relative;
}
.sidebar-items img{
    height: 24px;
    margin-bottom:5px;
}
.sidebar-items:hover{
    background-color: rgb(234, 233, 233);
}
.youtube-music{
    text-align: center;
}
.sidebar-items .tooltip{
    position: absolute;
    z-index: 1000;
    background-color: white;
    padding:6px 6px;
    color: black;
    border-radius: 2px;
    bottom:-1px;
    left:30px;
    opacity: 0;
    transition: opacity .15s;
    pointer-events: none;
    white-space: nowrap;
}
.sidebar-items:hover .tooltip{
    opacity: 1;
}