@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:content-box;
    font-family: Roboto;
}
body{
    padding-top:85px;
    padding-left:60px;
}
.grid-container{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    gap:10px;
}
.thumbnail{
    width:100%;
    border-radius: 5%;
}
.channel-picture img{
    margin-left: 7px;
    width:70%;
    border-radius: 50%;
    border: 1px solid black;
}
.video-info{
    margin-top:10px;
    display:grid;
    grid-template-columns: 50px 1fr;
}
.video-title{
    font-weight: 500;
    font-size:16px;
    line-height: 20px;
    margin-bottom:8px;
}
.video-stats,.channel-name{
    font-size: 14px;
    color:rgb(97, 96, 96)
}
.channel-name{
    margin-bottom: 2px;
}
